<div class="wrapper">
    <div class="block">
<form [formGroup]="cinemaForm" (ngSubmit)="addcinema()">
    <h2>Add Theatres</h2>
    
    <select id="location" formControlName="city" class="input">  
        <option >Select Location</option>  
       
        <option *ngFor="let loc of locationList">{{loc}}</option>  
    </select>
    <input type="text" placeholder="Enter theatre name" class="inp" formControlName="name"/>
    <input type="number" placeholder="Enter ticketPrice " class="inp" formControlName="ticketPrice"/>

    <div class="btns">
    
    <button [disabled]="!cinemaForm.valid">Add Movie</button>
    </div>
</form>
<div class="main">
    <h2>Theatres Added </h2>
<ul *ngFor="let list of cinemaList">
    <li>  {{list.city}}:{{ list.name }} : {{list.ticketPrice}}</li>
</ul>
</div>
</div>
</div>

