
<div class="container">
    <h1>{{city}}: {{title}}</h1>
  
    <form [formGroup]="form" (ngSubmit)="submit()">
  
      <div class="form-group">
        <label for="show">Select a Show:</label>
        <div *ngFor="let item of result">
          <input id="show" type="radio" value="{{item.id}}"
            formControlName="show">{{item.showtime}} : {{item.cinema}}
         
        </div>
  
       
      </div>
  
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  
   
    </form>
  </div>