body{
 background-image:url("moviehome.jpg"); 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  } 
  img{
      width: 100vw;
      height: 92vh;
      
  }
.centered{
    color: white;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding-bottom: 250px;
  color: rgb(209, 141, 141);
  font-family:Brush Script MT, Brush Script Std, cursive ;
  

}