<div class="wrapper">
    <div class="block">
<form [formGroup]="locationForm" (ngSubmit)="addlocation()">
    <h2>Add Locations</h2>
    <input type="text" placeholder="Enter location" class="inp" formControlName="city"/>
    <div class="btns">
  
    <button [disabled]="!locationForm.valid">Add Location</button>
    </div>
</form>
<div class="main">
    <h2>Locations Added </h2>
    <ul *ngFor="let list of locationList">
        
        <li>{{ list.city }}</li>
    </ul>
    </div>
    </div>
</div>



